# local package

# external requirements
click>=7.1.2
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1


# backwards compatibility
pathlib2
xmltodict>=0.13.0
cchardet
gtfs_functions
geopandas
requests>=2.27.1
pandas>=1.4.2
setuptools>=62.1.0